@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../public/assets/navbar/css/navbar.css");
@import url("../../public/assets/navbar/css/demo.css");
@import url("../../public/assets/navbar/css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

html {
  height: auto;
}
@font-face {
  font-family: "Enigma";
  src: url("/Enigma.otf") format("opentype");
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/Space Grotesk.ttf") format("truetype");
}
.content-post img {
  max-width: 60%;
  max-height: 60vh;
  width: auto;
  height: auto;
  margin: 20px auto;
  object-fit: contain;
}

.content-post p {
  margin-top: 35px;
}
.space-grotesk {
  font-family: "Space Grotesk", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.hex4 {
  clip-path: polygon(20% 0, 77% 0, 77% 74%, 68% 91%, 20% 91%, 20% 50%);
}

.grid-container .grid-item {
  border-top: 2px solid #ccc;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.card {
  height: 340px;
  background-repeat: no-repeat;
  width: 250px;
  background-size: 250px 350px;
}

.h-img {
  width: 74.5% !important;
  position: relative;
  bottom: 22.4px;
  left: 26px;
}

.gradient-text {
  background: linear-gradient(to right, #ff2d00, #ff3b00, #f1f1f1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.embla {
  max-width: screen;
  margin: auto;
  --slide-height: 18rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 2rem;
}

.embla__controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
  align-items: center;
  max-width: fit-content;
  margin: auto;
}
.embla__button {
  -webkit-tap-highlight-color: #f1f1f1;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: #ff3b00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: #f1f1f1;
}
.embla__button__svg {
  width: 30%;
  height: 30%;
}
.embla__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}
.embla__dot {
  -webkit-tap-highlight-color: #f1f1f1;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.1rem #f1f1f1;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.1rem #ff3b00;
}

.polygon {
  width: 570px;
  height: 580px;
  position: relative;
  clip-path: polygon(13% 0, 100% 0, 100% 91%, 87% 100%, 0 100%, 0 9%);
  /* background: #ff3b00; */
}

.pos2{
  clip-path: polygon(13% 0, 100% 0, 100% 91%, 87% 100%, 0 100%, 0 9%);
}

.overlay {
  /* width: 560px;
  height: 570px; */ 
  position: absolute;
bottom: 4%;
left: 1%;

  clip-path: polygon(13% 0, 100% 0, 100% 91%, 87% 100%, 0 100%, 0 9%);
  background: #252525;
}

@media (max-width: 600px) {
  .polygon {
    width: 320px;
    height: 380px;
  }
  .overlay {
    width: 300px;
    height: 360px;
    left: -3%;
  }
}

.smh-object {
  overflow-clip-margin: 0px;
}

/* ************************ */

.line {
  position: relative;
  height: 100%;
  width: 1px;
  background-color: white;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.ripple-container {
  position: absolute;
  width: 0px;
  height: 0px;
  animation: ripple 15s ease-out forwards;
  transform-origin: center;
  overflow: visible;
}

.ripple-border {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ff3b00;
  transform: translate(-50%, -50%);
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.ripplest-container {
  position: absolute;
  width: 0px;
  height: 0px;
  animation: ripplest 10s ease-out forwards;
  transform-origin: center;
}

.ripplest-border {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ff2d00;
  transform: translate(-50%, -50%);
}

@keyframes ripplest {
  0% {
    transform: scale(0);
    opacity: 0.7;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

canvas {
  @apply block;
  width: 100%;
  height: 100%;
}

#imageContainer {
  @apply relative w-full h-full overflow-hidden flex justify-center items-center  max-w-full filter transition-all ease-in duration-500;
  @apply saturate-0;
}

#imageContainer:hover {
  @apply saturate-100;
}

#imageContainer > * {
  @apply absolute inset-0 w-full h-full object-cover;
}

.jux-linx {
  @apply flex flex-row items-center flex-wrap justify-start gap-2 absolute left-5 bottom-5;
}

::-webkit-scrollbar {
  width: 0.6em;
  border-radius: 2em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff52;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
  border-radius: 1em;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #ffffff52 transparent;
  scrollbar-gutter: stable;
}

body:hover {
  scrollbar-color: #a8a8a8 transparent;
}

a:focus {
  outline: none;
}
